.login-panel {
	width: 255px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Courier New", Courier, monospace;
}

.login-table {
    border-collapse: collapse;
	padding: 15px;
}

.login-table, tr, td, th {
    border: none;
	padding: 5px;
}

/*
#login-result {
	width: 255px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Courier New", Courier, monospace;
}
*/

#register-container {
	/*margin-top: 5%;*/
	display: none;
}

#success-text {
	text: center;
}

#success-box, #warning-box {
	display: none;
}

#create-question-succ, #create-question-fail {
	display: none;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

#create-exam-succ, #create-exam-fail {
	display: none;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
