/**
* .css for the teacher role/dashboard
**/

#manage-questions {
	display: block;
}

#manage-exams,  #take-exams, #exam-stats {
	display: none;
}

#def-addon {
	color: #6682b5;
}

#success-box, #warning-box {
	display: none;
}


#question-form, #testcase-form, #create-question-btn{
	display: none;
}

#current-testcases {
	display: none;
	margin-top: 30px;
}

#selected-exam-box, #exam-open-box, #exam-closed-box {
	display: none;
}

tr:nth-child(even) {background: #F6BABE}
tr:nth-child(odd) {background: #FCE8E9}
